
.column {
    width: 300px;
    height: 170px;
    background: white;
    float: left;
    margin: 10px;
    overflow: hidden;
    padding: 3em 2em 3.5em 2em;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding : 20px;
    text-align: center;
}

.column a {
  color:black;
  
  text-decoration: none;
  text-transform: capitalize
  font-size: 25px;
  
}


.column img{
    height: 20px;
    margin-top: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
        
}

.columns {
  overflow: hidden;
  background-color: #F1F1F1;
  margin-left: 10px !important;
  margin-right:10px !important;
  max-width: 100% !important;
}

.full-screen {
  overflow: hidden;
  
  margin-left: 10px !important;
  margin-right:10px !important;
  max-width: 100% !important;  
}

.always_center {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 100px;
    margin: auto;
    z-index: 2;
    /*background-color: #f3f3f3;*/
}

.rounded-img {
      border-radius: 50%;
      width:20%;
      height:20%;

      margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    opacity: 0;
}
#AboutMeDiv h2 {
  margin: 0px;
  margin-top:20px;
}
#AboutMeDiv h3 {
  margin: 0px;
}
.20pxMarginTop {
  margin-top:20px;
}


